/node_modules/
__pycache__/
*.pyc
/dist
package-lock.json
npm-debug.log
.eslintcache
.idea
.DS_Store
.tap

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
